<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.krakow.vlo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="pl.krakow.vlo.ui.ScreenListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.krakow.vlo.ui.ScreenDetailActivity"
            android:parentActivityName="pl.krakow.vlo.ui.ScreenListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.krakow.vlo.ui.ScreenListActivity"/>
        </activity>
        <activity
            android:name="pl.krakow.vlo.ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="pl.krakow.vlo.ui.ScreenListActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.krakow.vlo.ui.ScreenListActivity"/>
        </activity>
        <activity
            android:name="pl.krakow.vlo.ui.settings.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="pl.krakow.vlo.ui.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.krakow.vlo.ui.settings.SettingsActivity"/>
        </activity>
    </application>

</manifest>
