<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.krakow.vlo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.krakow.vlo.ScreenListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.krakow.vlo.ScreenDetailActivity"
            android:label="@string/title_screen_detail"
            android:parentActivityName="pl.krakow.vlo.ScreenListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.krakow.vlo.ScreenListActivity" />
        </activity>
    </application>

</manifest>
